@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{
    --color-veryGrayishBlue: hsl(217, 19%, 35%);
    --color-desaturatedDarkBlue: hsl(214, 17%, 51%);
    --color-grayishBlue: hsl(212, 23%, 69%);
    --color-lightGrayishBlue: hsl(210, 46%, 95%);

    --font-fontFamily-manrope-sansSerif: 'Manrope', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{

    max-width: 100%;
    max-height: 100%;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-lightGrayishBlue);
    font-family: var(--font-fontFamily-manrope-sansSerif);
    
}

.card{
    width: 750px;
    display: flex;
    background-color:white;
    border-radius: .5em;
    box-shadow: 10px 10px 15px 15px rgba(0, 0, 0, .02) ;
}

.card__picture{
    flex: 1;
}


.card__picture img{
    border-radius:.5em 0 0 .5em;
    height: 100%;
    object-fit: cover;
    object-position: 0;
}

.card__content{
display: flex;
flex-direction: column;
align-content: space-between;
padding: 2em;
flex: 1.2;
}

.card__content__info{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;
}

.card__content__info h1{
    font-size: 1.3rem;
    font-weight: 700;
}

.card__content__info p{
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5em;
    color: var(--color-grayishBlue);
}

.card__content__profile{
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 2em;
    justify-content: space-between;
}

.card__content__profile p:first-of-type{
font-weight: bold;
}

.card__content__profile p:last-of-type{
    color: var(--color-grayishBlue);
    }


.card__content__profile__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}
.card__content__profile img:first-of-type{
    width: 50px;
    border-radius: 50%;
}


.link{
    position: relative;
    
}
.link-mobile{
display: none;
justify-content: space-between;
align-items: center;
gap: 1em;
background-color: var(--color-desaturatedDarkBlue);
width: 100%;
padding: 1em;
margin: 0;
color: white;

}
.arrow-mobile{
    background-color: var(--color-lightGrayishBlue);
    border-radius: 50%;
    padding: .3em;
}

.arrow{
    background-color: var(--color-lightGrayishBlue);
    border-radius: 50%;
    padding: .5em .5em;
}

i{
    color: white;
}

i:active{
    color: var(--color-lightGrayishBlue)
}
.social-menu{
    color: var(--color-grayishBlue);
    border-radius: 10px;
    gap: 1em;
    padding: 1em;
    position: absolute;
    top: -5em;
    right: -5em;
    width: fit-content;
    display: none;
    background-color: var(--color-desaturatedDarkBlue);
}


@media only screen and (max-width: 768px)  {


    .card__content__profile__container{
   
        justify-content: space-around;
       
    
    }

    body{
        padding: 1em;
        height: 100%;
    }

    .arrow{
        width: 2em;
    }

    .card{
        flex-direction: column;
    }
    .card__content{
        padding: 0;

    }
    .card__content__info{
        padding: 1em;
    }

    .card__content__profile{
        padding: 1em;
    }

    .card__content__profile__container{
    }

    .card__picture img{
        border-radius:.5em .5em 0 0;
        height: 100%;
        object-fit: cover;
        object-position: 0;
    }
    .link{
     
    }





    .social-menu{
        display: flex;
        position: unset;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 10px 10px;
        display: none;
        width: auto;
    }



    
}